form(method="POST")
  table.table.table-striped.table-hover
    thead
      tr
        th Symbol
        th Name
        th Actions
    tbody
      tr(template="ngFor #fund of funds; trackBy:trackFundById")
        template(bind-ngIf="!isEditing(fund)")
          td
            span.non-editing-control {{fund.symbol}}
          td
            span.non-editing-control {{fund.name}}
          td
            button.btn.btn-primary(type="button", on-click="edit(fund)") Edit
            button.btn.btn-danger(type="button", on-click="delete(fund.symbol)") Delete
        template(bind-ngIf="isEditing(fund)")
          td
            input.form-control(bindon-ngModel="fund.symbol")
          td
            input.form-control(bindon-ngModel="fund.name")
          td
            button.btn.btn-success(type="submit", on-click="update(fund)") Save
            button.btn.btn-danger(type="button", on-click="cancelEditing()") Cancel
    tfoot
      tr
        td
          input.form-control(bindon-ngModel="newFund.symbol")
        td
          input.form-control(bindon-ngModel="newFund.name")
        td
          button.btn.btn-success(type="submit", on-click="create()") Add
          button.btn.btn-danger(type="button", on-click="clearNew()") Clear

| {{newFund | json }}
